.amazon-main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.product {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid rgb(231, 231, 231);
  height: 100%;
}
.product > * {
  margin-bottom: 8px;
}
.image-container {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-image {
  max-height: 100%;
  max-width: 100%;
}
.ratings-image {
  width: 100px;
}
.product p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product b {
  margin-top: 5px;
  margin-bottom: 5px;
}
.product select {
  width: 40px;
  padding: 4px;
  border: 1px solid rgb(192, 188, 188);
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
}
.added-to-cart-msg {
  opacity: 0;
  margin-top: 15px;
  color: green;
  font-weight: bold;
  margin-bottom: 6px;
  transition: opacity 0.25s;
}
.added-to-cart-msg-visible {
  opacity: 1;
}
.added-to-cart-msg img {
  width: 20px;
}
.add-to-cart {
  background-color: rgb(255, 216, 20);
  padding: 8px;
  border-radius: 20px;
  border: none;
  width: 100%;
  margin-top: auto;
}
