.order-tracking {
  width: 850px;
  margin: 30px auto 100px;
}
.order-tracking .view-orders {
  margin-bottom: 30px;
}
.order-item-img {
  width: 140px;
  margin: 25px 0 50px;
}
.delivery-date {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}
.order-product-details > div {
  margin-bottom: 3px;
}
.progress-bar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.progress-bar-header > div {
  font-size: 1.25em;
  font-weight: 500;
}
.progress-bar-container {
  border: 1px solid rgb(200, 200, 200);
  height: 25px;
  overflow-x: hidden;
  border-radius: 14px;
}
.progress-bar-body {
  height: 100%;
  background-color: rgb(0, 128, 0);
  border-radius: 14px;
}
